<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mobile Catalog</title>
</head>
<body>

<tr th:each="mobile: ${allMobile}">
    <form th:action="@{/catalog/mobile}" method="post">
    <tb th:text="${mobile.model}" />
    <input name="model" type="hidden" th:value="${mobile.model}">
    <br>
    <tb th:text="${mobile.price}" />
    <input name="price" type="hidden" th:value="${mobile.price}">
    <br>
    <tb th:text="${mobile.os}" />
    <br>
    <tb th:text="${mobile.color}" />
    <input name="color" type="hidden" th:value="${mobile.color}">
    <br>
    <tb th:text="${mobile.length}" />
    <br>
    <tb th:text="${mobile.weight}" />
    <br>
    <tb th:text="${mobile.thickness}" />
    <br>
    <tb th:text="${mobile.getCamera().modelCamera}" />
    <br>
    <tb th:text="${mobile.getCamera().mainCamera}" />
    <br>
    <tb th:text="${mobile.getCamera().ultraWide}" />
    <br>
    <tb th:text="${mobile.getCamera().telephoto}" />
    <br>
    <tb th:text="${mobile.getCamera().frontCamera}" />
    <br>
    <tb th:text="${mobile.getCamera().numberOfCameraModules}" />
    <br>
    <tb th:text="${mobile.getProcessor().model}" />
    <br>
    <tb th:text="${mobile.getProcessor().platform}" />
    <br>
    <tb th:text="${mobile.getProcessor().processorClockSpeed}" />
    <br>
    <tb th:text="${mobile.getProcessor().numberOfCores}" />
    <br>
    <tb th:text="${mobile.getProcessor().processorBitDepth}" />
    <br>
    <tb th:text="${mobile.getScreen().modelScreen}" />
    <br>
    <tb th:text="${mobile.getScreen().numberOfScreenColors}" />
    <br>
    <tb th:text="${mobile.getScreen().screenResolution}" />
    <br>
    <tb th:text="${mobile.getScreen().aspectRatio}" />
    <br>
    <tb th:text="${mobile.getScreen().scratchProtection}" />
    <br>
        <button th:if="${session.sessionUser}">In basket</button>
    </form>

</tr>

</body>
</html>