<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<form th:action="@{/registration}" th:object="${user}" method="post" >
    <input th:field="*{name}" placeholder="name" >
    <br>
    <p th:errors="*{name}"></p>
    <br>
    <input type="password" th:field="*{password}" placeholder="password">
    <br>
    <p th:errors="*{password}"></p>
    <br>
    <button>Enter</button>
</form>
<p th:text="${nameExist}"></p>
</body>
</html>